
/* Step 1: Import the Google Font directly */
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import "tailwindcss";


@theme {
  
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl:160rem;
  --font-saint: 'Mrs Saint Delafield', cursive;
}

/* Optional utility class */
.font-saint {
  font-family: var(--font-saint);
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}











